/* @group Reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    color: #999;
}
del {
    color: #800;
    text-decoration: line-through;
}

abbr[title], acronym[title], dfn[title] {
    border-bottom: #000 1px dotted;
    cursor: help;
}

address {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: #ccc 1px solid;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

article, aside, details, dialog, figure, footer, header, hgroup, nav, section {
    display: block;
}

/* @end */

/* @group Other styling */

.hidden {
    display: none !important;
}

.clear {
    clear: both !important;
    height: 0 !important;
    visibility: hidden !important;
    width: 0 !important;
}

.ie6 .clearfix {
    height: 1%;
    overflow: visible;
}
.ie7 .clearfix {
    min-height: 1%;
}
.clearfix {
    display: inline-block;
}
.clearfix:after,
form#upload-pgm fieldset:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden;
}
.clearfix {
    display: block;
}

.invisible {
    position: absolute;
    left: -9999px;
}

p, ul, ol, dl, address, table, pre, form, fieldset {
    font-size: 1em; /* 14px */
    margin-bottom: 1.5em; /* 21px */
}

html, body {
    background-color: #efefef;
}

body {
    margin: 0 auto;
    color: #555;
    font-size: 13px;
    line-height: 1.538em; /* Baseline grid of 20px */
}

nav ul,
.listing ul,
.aux-actions,
fieldset.group ul,
.filters ul {
    list-style-type: none;
    margin-bottom: 0;
}

a:link,
button.link span,
a:visited {
    text-decoration: none;
}
a:visited {
    color: #039;
}
a:link,
button.link span,
a[href=\23]:visited, /* Matches <a href="#">...</a> */
a.delete:visited {
    color: #06a;
}
a:hover,
a:focus,
a:active,
a[href=\23]:hover, a[href=\23]:focus, a[href=\23]:active,
a.delete:hover, a.delete:focus, a.delete:active {
    color: #03e;
    text-decoration: underline;
}

/* @end */

/* @group Font families */

body {
    font-family: "Gill Sans", "Gill Sans MT", "Helvetica Neue", "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
    line-height: 1.4em;
    color: #4c4a3d;
}

pre, code, kbd, tt, samp, tt {
    font-family: "Andale Mono", monospace;
}

/* @end */

/* @group Headings */

h1 {
    font-size: 2.571em; /* 36px */
    line-height: 1em; /* 36px */
    margin-top: 0.1667em; /* 36px */
    margin-bottom: 0.5833em; /* 36px */
}

h1 small {
    border-left: #ccc 1px solid;
    color: #555;
    font-size: 0.85em;
    margin-left: 0.5em;
    padding-left: 0.75em;
}

h2 {
    color: #555;
    font-size: 2.154em; /* 36px */
    line-height: 1em; /* 36px */
    margin-top: 0.5em; /* 36px */
    margin-bottom: 0.5em; /* 36px */
}

h3 {
    font-size: 1.385em; /* 36px */
    line-height: 1.111em; /* 36px */
    margin-top: 1.556em; /* 36px */
    margin-bottom: 0.778em; /* 36px */
}

h4 {
    color: #235;
    font-size: 1em; /* 36px */
}

h5, h6 {
    font-size: 1em; /* 36px */
}

h1, h3 {
    color: #2a4184;
}

h3 {
    font-size: 1.2em;
}

.primary h3 {
    background: #d8e4f0;
    font-size: 1.2em;
    margin-bottom: 1.5em;
    padding: 6px 1.5em 7px;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong {
    font-weight: normal;
}

h1 strong,
h2 strong {
    color: #4ca0c1;
}

h1 span.subtitle,
h2 span.subtitle,
h3 span.subtitle,
h4 span.subtitle,
h5 span.subtitle {
    color: #555;
    display: block;
    font-size: 0.85em;
}

/* @end */

/* @group Page structure */

#wrap {
    background-color: #fff;
    border: #9b9b9b 1px solid;
    border-width: 0 1px;
    padding-bottom: 2%;
}

.section {
    width: 90%;
    overflow: hidden;
    padding: 0 2em;
    margin: 0 auto;
    max-width: 90em;
    min-width: 20em;
    position: relative;
}

/* @group Header */

header#header section {
    background-color: #f3f3f3;
    background: -moz-linear-gradient(#fff, #def);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#def));
    padding: 0.5em 0.5em 0 0.5em;
}

.masthead {
    background-color: #f3f3f3;
    background: -moz-linear-gradient(#fff, #f3f3f3);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f3f3f3));
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: #ccc 1px solid;
    border-width: 0 1px 1px 0;
    padding: 0.5em 2em 1em;
    margin: -1em 0 1.5em -2em;
    position: relative;
}
.masthead > :last-child,
.masthead h1 {
    margin-bottom: 0;
}
.masthead h1 {
    text-shadow: #8ac7e5 0 1px 1px;
}
.masthead h1 span.subtitle {
    text-shadow: #ccc 0 1px 1px;
}

.masthead {
    border-top-width: 1px;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

/* @group Logo */

/* @end */

/* @group Layout constructs */

.primary {
    width: 73.47%;
    float: right;
    clear: right;
    display: inline;
}
.secondary {
    width: 24.49%;
    float: left;
    clear: both;
    display: inline;
}

.primary .primary {
    width: 63.889%;
    float: left;
    clear: none;
}

.primary .secondary {
    width: 33.333%;
    float: right;
    clear: none;
}

.primary.full,
.secondary.full {
    width: 100%;
}

/* @group Inverse layout */

.inverse .primary {
    float: left;
    clear: left;
}

.inverse .secondary {
    float: right;
    clear: right;
}

.inverse .primary .primary {
    float: left;
    clear: none;
}

.section .inverse .primary {
    float: right;
    clear: none;
}

.inverse .primary .secondary {
    float: right;
    clear: none;
}

.section .inverse .secondary {
    float: left;
    clear: none;
}

/* @end */

.column-wrapper {
    overflow: hidden;
}

.column {
    float: left;
    width: 32%;
    display: inline;
    margin-left: 2%;
}

.first {
    margin-left: 0;
}

/* @end */


/* @end */


/* @group Helper styles */

/* @group Forms */

/* @group Containers */

form .container {
    margin-bottom: 1.5em; /* 19.5px */
}

/* @group Fieldsets */

fieldset {
    border: #ccc 1px solid;
    padding: 0 1.5em 1em 1.5em; /* 0 19.5px 13px 19.5px */
}

fieldset :top-child {
    margin-top: 0;
}

fieldset :last-child {
    margin-bottom: 0;
}

legend {
    font-weight: bold;
    padding: 0.5em;
}

/* @end */

/* @end */

/* @group Labels */

label {
    font-weight: bold;
    cursor: pointer;
}

.meta-label {
    font-weight: bold;
    margin-bottom: 0;
}

.multi-container label,
.radio-container label,
.checkbox-container label,
.qtip-content .form-row .form-label label,
.form-row .form-field label {
    font-weight: normal;
}

.radio-container label,
.checkbox-container label {
    display: block;
}

.compact label {
    display: inline;
}

/* @end Labels */

/* @group Meta */

form .help,
form .optional {
    color: #888;
    font-size: 0.923em; /* 12px */
}
form .help {
    font-style: normal;
    font-weight: normal;
    margin: 0 0.3em 0 0.6em;
}

/* @end */

/* @group Form controls */

input, textarea, select, button {
    font-family: inherit;
    font-size: 1em;
    line-height: inherit;
}

select {
    /* Fixes bug in Opera which inherits bgcolor from container. */
    background-color: #fff;
}

button {
    cursor: pointer;
    overflow: visible;
}

input[type=text],
input[type=number],
input[type=password],
textarea,
select {
    border-top-color: #999;
    border-left-color: #999;
    border-bottom-color: #ccc;
    border-right-color: #ccc;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}
select {
    padding: 1px 2px 2px 2px;
}

input[type=number] {
    padding: 2px 4px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
    border-color: #888;
    outline: #ffa 1px solid;
}
input[type=number]:focus {
    outline-width: 0;
}

input.short {
    width: 5em;
}
input.medium, textarea.medium {
    width: 12em;
}
input.long, textarea.long {
    width: 30em;
}

input.placeholder {
    color: #999;
}
input[placeholder]:focus {
    color: #000;
}

input.date {
    background: url(../images/date.png) 97% 50% no-repeat;
    cursor: pointer;
    width: 7em;
}
input[disabled].date {
    cursor: default;
}

select[id$=_hour] {
    margin-left: 0.5em;
}

input.search {
    background: url(../images/magnifiers.png) 5px 5px no-repeat;
    padding-left: 25px;
    width: 17em;
}
input.search:focus {
    background-position: 5px -19px;
}

textarea {
    -moz-box-sizing: border-box;
    display: block;
    width: 100%;
}

.button-container input {
    font-weight: bold;
}
.button-container input.cancel {
    font-weight: normal;
}

button.link {
    -moz-user-select: text;
    background-color: #fff;
    background-image: none;
    border-width: 0;
    cursor: pointer;
    font-weight: normal;
    overflow: visible;
    padding: 0;
    text-shadow: none;
    width: auto;
}

/* Accessibility feature, resize check and radio inputs */
.radio-container input,
.checkbox-container input {
    height: 1em;
    width: 1em;
}

/* @end Form controls */

form#upload-pgm fieldset {
    float: right;
    width: 37%;
}

form#upload-pgm p {
    display: inline-block;
    margin-bottom: 0;
}

form#upload-pgm label {
    font-weight: normal;
}

/* @end Labels */

/* @group Breadcrumbs */

.breadcrumbs {
    clear: both;
    font-size: 0.846em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
}

.breadcrumbs li {
    display: inline;
    padding-right: 1em;
    position: relative;
}

.breadcrumbs li:not(:last-child):after {
    border-color: transparent transparent transparent #aaa;
    border-style: solid;
    border-width: 3px 0 3px 4px;
    content: "";
    position: absolute;
    top: 25%;
    line-height: 1.2em;
    right: 2px;
    height: 0;
    width: 0;
}

/* @end */

/* @group Buttons */

button::-moz-focus-inner,
input[type=submit]::-moz-focus-inner, input[type=button]::-moz-focus-inner {
    border-width: 0;
}

a:link.button,
a:visited.button,
a:hover.button,
a:focus.button,
a:active.button,
button, input[type=submit], input[type=button] {
    background-color: #64799e;
    background: -moz-linear-gradient(0% 100% 90deg, #64799e, #a5b8da);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da), to(#64799e));
    border: #7089b3 1px solid;
    -moz-box-shadow: inset 0 1px 0 0 #b4c9ed;
    -webkit-box-shadow: inset 0 1px 0 0 #b4c9ed;
    box-shadow: inset 0 1px 0 0 #b4c9ed;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    color: #2b3951;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1em;
    padding: 0.25em 0.5em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #99B9F2;
    min-width: 70px;
}

a:hover.button,
input[type=submit]:hover, input[type=button]:hover,
button[type=submit]:hover {
    background-color: #576989;
    background: -moz-linear-gradient(0% 100% 90deg, #576989, #9eb0d1);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9eb0d1), to(#576989));
    color: #124;
    text-shadow-color: #9be;
}

a:active.button,
input[type=submit]:active, input[type=button]:active,
button[type=submit]:active {
    background: #a5b8da;
    background: -moz-linear-gradient(0% 100% 90deg, #a5b8da, #64799e);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#64799e), to(#a5b8da));
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type=submit],
button[type=submit] {
    margin-top: -2px;
}

/* @end */

img {
    background-color: #fff;
    border: #aaa 1px solid;
    -moz-box-shadow: #ccc 0 1px 3px;
    -webkit-box-shadow: #ccc 0 1px 3px;
    box-shadow: #ccc 0 1px 3px;
    display: block;
    padding: 2px;
}
a:hover img {
    border-color: #888;
}


.pagination {
    background-color: #eff;
    border: #06a 1px solid;
    font-size: 1.5em;
    padding: 0.5em;
}
