{% extends "base.html" %}

{% block title %}{{ _('Browse Images') }} | {{ block.super }}{% endblock %}

{% block content %}
<form id="upload-pgm" action="" method="post" enctype="multipart/form-data" class="clearfix">
  {% csrf_token %}
  <fieldset>
    <legend>{{ _('Search by PGM Image') }}</legend>
    {{ upload_form.as_p|safe }}
    <button type="submit">{{ _('Upload Query') }}</button>
  </fieldset>
</form>

<header class="masthead">
  <h2>{{ _('Browse Images') }}</h2>
</header>

{% if images.paginator.num_pages %}
<p class="pagination">
  <span class="step-links">
    {% if images.has_previous %}
      <a href="?page=1">&larr; Previous</a>
    {% endif %}
    <span class="current">
      Page {{ images.number }} of {{ images.paginator.num_pages }}.
    </span>
    {% if images.has_next %}
      <a href="?page=2">Next &rarr;</a>
    {% endif %}
  </span>
</p>
{% endif %}


<ul id="grid" class="results clearfix">
{% for image in images.object_list %}
  <li>
    <a href="{% url images.similar image.filename %}">
      <img src="{{ image.src }}" width="{{ image.width }}" height="{{ image.height }}">
    </a>
  </li>
{% endfor %}
</ul>

{% if images.paginator.num_pages %}
<p class="pagination">
  <span class="step-links">
    {% if images.has_previous %}
      <a href="?page=1">&larr; Previous</a>
    {% endif %}
    <span class="current">
      Page {{ images.number }} of {{ images.paginator.num_pages }}.
    </span>
    {% if images.has_next %}
      <a href="?page=2">Next &rarr;</a>
    {% endif %}
  </span>
</p>
{% endif %}
{% endblock %}
