{% extends "base.html" %}

{% block title %}{{ _('Browse Images') }} | {{ block.super }}{% endblock %}

{% block content %}

<h2>{{ _('Browse Images') }}</h2>

<form action="" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>{{ _('Upload Image') }}</legend>
    {% csrf_token %}
    {{ upload_form.as_p|safe }}
    <p class="help">{{ _('PGM supported.') }}</p>
    <p><button type="submit">Submit</button></p>
  </fieldset>
</form>

<div id="grid-slider">
  <div class="ui-slider-handle"></div>
</div>

<ul id="grid">
{% for image in images %}
  <li><img src="{{ image.src }}" width="{{ image.width }}" height="{{ image.height }}"></li>
{% endfor %}
</ul>

{% endblock %}
