<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}CBIR{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="robots" content="none">
    <link rel="icon" type="image/x-icon"
          href="{{ MEDIA_URL }}images/favicon.ico">
    {% block site_css %}
      <link href="{{ MEDIA_URL }}css/general.css" rel="stylesheet"
          type="text/css" media="screen,projection,tv">
      <link href="{{ MEDIA_URL }}css/ui.all.css" rel="stylesheet"
          type="text/css" media="screen,projection,tv">
    {% endblock %}
    {% block css %}{% endblock %}
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div id="wrap" class="section">
      <header id="header">
        <section class="primary full">
          {% block header %}
            <h1>
              <a href="{% url home %}">CBIR</a>
              <small>Content-Based-Image-Retrieval</small>
            </h1>
          {% endblock %}
        </section>
      </header>
      <section class="primary full" id="content">
        {% block content %}{% endblock %}
      </section>
      <footer>
        {% block footer %}{% endblock %}
      </footer>
    </div>
    {% block site_js %}
      {% ifequal DEPLOYMENT "SOLO" %}
        <script type="text/javascript"
                src="{{ MEDIA_URL }}js/vendor/jquery-1.4.4.js"></script>
      {% else %}
      {% if request.is_secure %}
        <script type="text/javascript"
                src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js">
        </script>
      {% else %}
      <script type="text/javascript"
              src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js">
      </script>
      {% endif %}
      <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-personalized-1.5.3.min.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}js/global.js"></script>
      {% endifequal %}
    {% endblock %}
    {% block js %}{% endblock %}
  </body>
</html>
